* {
	margin: 0px;
    padding: 0px;
	background: DeepSkyBlue;
    text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #FFF;
}

.container {
	margin: auto;
	padding: 12px;
	width: 800px;
}

/* NAVIGATION - START */

ul.navmenu {
	background-color: #FFF;
	list-style: none;
	margin-bottom: 28px;
}

ul.navmenu li {
	background-color: #FFF;
	display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px 0px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 28px;
    color: DeepSkyBlue;
}

a.navlink {
	background-color: #FFF;
	text-decoration: none;
	color: DeepSkyBlue;
}

a.navlink:hover {
	font-weight: bold;
}

/* NAVIGATION - END */

/* TEXT FORMATTING - START */

h1 {
	font-size: 38px;
	font-weight: 100;
	line-height: 1.4em;
}

p {
	font-size: 22px;
	line-height: 1.6em;
}

/* TEXT FORMATTING - END */

/* PROFILE PHOTO - START */

.avatar {
	margin-bottom: 14px;
    border-style: solid;
    border-color: #FFF;
    border-width: 8px;
	border-radius: 100%;
	width: 270px;
}

/* PROFILE PHOTO - END */

/* SOCIAL BUTTONS - START */

ul.social-list {
	list-style: none;
	margin-top: 24px;
	padding: 0px;
}

ul.social-list li {
	display: inline-block;
	padding: 10px;
}

/* SOCIAL BUTTONS - END */